.slider {
  max-width: 100%;
  height: 100vh;
  position: relative;
}
.slide1,.slide2,.slide3,.slide4,.slide5 {
  position: absolute;
  width: 100%;
  height: 100%;
}
.slide1 {
  background: url(../images/tercer-convocatoria/ffi1.jpg) center;
  background-size: cover;
  animation:fade 20s infinite;
  -webkit-animation:fade 20s infinite;

}
.slide2 {
  background: url(../images/tercer-convocatoria/ffi2.jpg) center;
  background-size: cover;
  animation:fade2 20s infinite;
  -webkit-animation:fade2 20s infinite;
}
.slide3 {
  background: url(../images/tercer-convocatoria/ffi3.jpg) center;
  background-size: cover;
  animation:fade3 20s infinite;
  -webkit-animation:fade3 20s infinite;
}
.slide4 {
  background: url(../images/tercer-convocatoria/ffi4.jpg) center;//
  background-size: cover;
  animation:fade4 20s infinite;
  -webkit-animation:fade4 20s infinite;
}
@keyframes fade
{
  0%   {opacity:1}
  25%  { opacity: 0}
  50%  { opacity: 0}
  75%  { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  25%  { opacity: 1}
  50%  { opacity: 0}
  75%  { opacity: 0}
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  25%  { opacity: 0}
  50%  { opacity: 1}
  75%  { opacity: 0}
  100% { opacity: 0}
}
@keyframes fade4
{
  0%   {opacity: 0}
  25%  { opacity: 0}
  50%  { opacity: 0}
  75%  { opacity: 1}
  100% { opacity: 0}
}