//Import variables----------------------------->
@import 'variables';
@import 'slider';
@import 'pages/fonts';
/* --------------------------------
Primary style
-------------------------------- */
* {
  font-family: "juntas_sans";
}

b {
  font-family: "juntas_sans";
}

//Materialize
@import "materialize/mixins";
@import "materialize/color";

// Variables;
@import "materialize/variables";

// Reset
//@import "materialize/normalize";

// components
@import "materialize/global";
//@import "materialize/badges";
//@import "materialize/icons-material-design";
//@import "materialize/grid";
//@import "materialize/navbar";
//@import "materialize/roboto";
//@import "materialize/geomanis";
//@import "materialize/foco";
@import "materialize/typography";
//@import "materialize/transitions";
@import "materialize/cards";
//@import "materialize/toast";
@import "materialize/tabs";
//@import "materialize/tooltip";
@import "materialize/buttons";
//@import "materialize/dropdown";
@import "materialize/waves";
//@import "materialize/modal";
//@import "materialize/collapsible";
//@import "materialize/chips";//
//@import "materialize/materialbox";
//@import "materialize/forms/forms";
//@import "materialize/table_of_contents";
//@import "materialize/sideNav";
@import "materialize/preloader";
//@import "materialize/slider";
//@import "materialize/carousel";
//@import "materialize/tapTarget";
//@import "materialize/pulse";
//@import "materialize/date_picker/default";
//@import "materialize/date_picker/default.date";
//@import "materialize/date_picker/default.time";


//Import pages styles ------------------------->
@import 'pages/style';
@import 'pages/principal';
@import 'pages/internas';
@import 'pages/saladeprensa';
@import 'pages/search';