////////////////////////
// Fonts
///////////////////////
$url: '../fonts/';

@font-face {
  font-family: 'juntas_sans';
  src: url("#{$url}juntas/Juntas-Sans-Regular.woff") format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'juntas_sans';
  src: url("#{$url}juntas/Juntas-Sans-Bold.woff") format('woff');
  font-weight: 800;
  font-display: swap;
}