
.mensaje-banner {
  align-self: baseline;
  margin-left: 100px;
  color: #fff;
  font-size: 25px;
  width: 90%;
  max-width: 660px;

  h2{
    font-family: 'juntas_sans', sans-serif !important;
    font-weight: 300;
    font-size: 55px;
    line-height: 1.1;
    margin-bottom: 0px;
  }

  p {
    font-family: 'juntas_sans', sans-serif !important;
    font-weight: 300;
    color: #caceda;
    line-height: 1.2;
    font-size: 22px;
    margin-top: 20px;
  }

  b{
    font-family: 'juntas_sans', sans-serif !important;
    font-weight: 400 !important;
  }

}

.max-width-auto {
  width: 90% !important;
  max-width: initial !important;
}

@media screen and (max-height: 800px) {
  .mensaje-banner p {
    font-size: 20px;
  }
}

@media screen and (max-height: 700px) {
  .mensaje-banner {
    p {
      font-size: 18px;
    }
    h2 {
      font-size: 55px;
      line-height: 1;
      margin-bottom: 0px;
    }
  }
}

.max-width-700 {
  max-width: 700px;
}
.max-width-600 {
  max-width: 600px;
}
.max-width-500 {
  max-width: 500px;
}

.align-center {
  align-self: center;
}

.margin-left-220 {
  margin-left: 220px;
}

.margin-left-preguntas {
  margin-left: 100px;
}

.flex.content-col-rever.only-text {
  p {
    max-width: 1000px;
    text-align: justify;
  }
  a.btn {
    max-width: 600px;
  }
}

.numero {
  background: #faba1a;
  width: 37px;
  min-width: 37px;
  min-height: 37px;
  color: #956e11;
  height: 37px;
  text-align: center;
  font-size: 27px;
  border-radius: 50%;
  margin-right: 20px;
}

.flex.tipoProyecto {
  align-items: center;
  justify-content: flex-start;
  color: #7b8e9f;
  font-size: 25px;
  margin-bottom: 12px;
}

.subtitle {
  font-family: 'juntas_sans', sans-serif !important;
  font-weight: 300;
  font-size: 30px;
  color: #29338a;
  margin-top: 0px;
  margin-bottom: 22px;
  line-height: 30px;
}

.flex.tipoProyecto p {
  margin: 0px;
  font-family: 'juntas_sans', sans-serif !important;
  font-size: 22px;
  font-weight: 300;
}

.parrafo {
  font-family: 'juntas_sans', sans-serif !important;
  font-weight: 300;
  font-size: 22px;
  color: #7b8e9f;
  line-height: 1.1;

  b{
    font-family: 'juntas_sans', sans-serif !important;
    font-weight: 400 !important;
  }
}
.contenido-beneficios{
  padding-right: 6vw;
  padding-bottom: 0vw;
  text-align: justify;
  margin-left: 37vw !important;
  @media (max-width: 1440px){
    padding-bottom: 9vw !important;
    padding-top: 14vw !important;
  }
  @media (max-width: 1280px){
    padding-bottom: 9vw !important;
    padding-top: 12vw !important;
  }
  @media (max-width: 1180px){
    margin-left: 5vw !important;
  }
}
.imgDerecha{
  position: absolute;
  top: 0px;
  left: -180px;
}
.imgIzquierda{
  position: absolute;
  width: 34vw;
  top: 8vw;
  left: 0vw;
  @media (max-width: 1440px){
    top: 7vw;
  }
}
.margin-left-700 {
  margin-left: 700px;
}
.margin-left-600 {
  margin-left: 600px;
}
.margin-left-500 {
  margin-left: 500px;
}

.margin-0 {
  h2, p {
    margin: 0px;
  }
  h2 {
    margin-bottom: 14px;
  }
}

h2.precio {
  margin: 17px 0px;
  margin-left: 145px;
  color: #7b8e9f !important;
}

.btnFooter .btn {
  font-size: 20px;
  line-height: 20px;
  margin: 20px 0px;
  margin-right: 30px;
}

a.btn.btn-outline {
  background: #fff;
  border: solid 2px #29338a;
  color: #29338a !important;
}

.margin-left-30 {
  margin-top: 30px;
}

a.btn.naranja {
  color: #29338a;
}

h2 {
  &.ttlContent {
    .numero {
      width: 50px;
      height: 50px;
      font-size: 30px;
      padding-top: 9px;
    }
    p {
      font-size: 46px;
      max-width: initial;
      color: #29338a;
      margin: 0px;
    }
  }
  &.flex.ttlContent {
    /*align-items: center;*/
  }
}

@media screen and (max-height: 800px) {
  h2.ttlContent p {
    font-size: 25px;
    line-height: 1;
  }
}

@media screen and (max-width: 1600px) {
  h2.ttlContent p {
    font-size: 40px;
    line-height: 1;
  }
}

@media screen and (max-width: 1300px) {
  h2.ttlContent p {
    font-size: 25px;
    line-height: 1;
  }
}

@media screen and (max-width: 930px) {
  h2.ttlContent p {
    font-size: 28px;
    line-height: 1;
  }
}

.videos h1 {
  color: #29338a;
}

.flex.fullCenter.videoCont {
  flex-flow: column;
}


form.flex {
  flex-flow: column;
}

.formulario {
  width: 90%;
  margin: 0px auto;
  max-width: 800px;
  h2 {
    font-size: 4rem;
    margin-bottom: 0px;
    font-family: "juntas_sans";
  }
  h1 {
    font-size: 23px;
    margin-bottom: 38px;
    font-weight: 100;
  }
}

input {
  &[type="text"], &[type="email"], &[type="password"] {
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 4px;
    height: 45px;
    width: 480px;
    margin-bottom: 10px;
    font-size: 21px;
    padding-left: 46px;
    color: #1a2042;
    outline: 0px;
  }
}

select {
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  background: rgba(255, 255, 255, 0.8) !important;
  border: none !important;
  border-radius: 4px !important;//
  height: 45px !important;
  width: 480px !important;
  margin-bottom: 10px !important;
  font-size: 21px !important;
  padding-left: 46px !important;
  color: #777777 !important;
  outline: 0px !important;
}

input[type="submit"] {
  background: #ffbb22;
  border: none;
  width: 144px;
  height: 50px;
  margin: 0px auto;
  margin-top: 20px;
  font-size: 24px;
  border-radius: 50px;
  outline: 0px;
  cursor: pointer;
}

div#ok {
  display: none;
  position: none;
}

.show-popup {
  display: block !important;
  position: fixed !important;
  width: 100vw;
  height: 100vh;
  background: rgba(32, 37, 68, 0.92);
  z-index: 9999;
  top: 0;
}

div#ok {
  i {
    position: fixed;
    top: 25%;
    left: 72%;
    font-size: 5rem;
    color: #fff;
    cursor: pointer;
  }
  p {
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    color: #FBBC1C;
    font-size: 5rem;
    > span {
      color: #fff;
      font-size: 2rem;
      line-height: 45px;
      margin: 0;
      padding: 0;
      display: block;
    }
  }
}

@media screen and (max-width: 1440px) {
  .formulario{
    margin-top: 2rem;
    h2{
      font-size: 3rem;
    }
    h1{
      font-size: 20px;
    }
  }
  .max-width-700 {
    max-width: 460px;
  }
  .margin-left-220 {
    margin-left: 120px;
  }
  .margin-left-preguntas {
    margin-left: 80px;
  }
  .imgDerecha {
    width: 600px;
  }
  .margin-left-220 {
    margin-left: 80px;
  }
  .margin-left-700 {
    margin-left: 480px;
  }
}

@media screen and (max-width: 1280px) {

  div {
    &.content-col h2, &.content-col-rever h2 {
      margin-bottom: 0px;
    }
  }
  .formulario {
    max-width: 65vw;
    h1 {
      font-size: 18px;
    }
  }
  .max-width-700 {
    max-width: 500px;
    margin-left: 60px;
  }
}

@media screen and (max-width: 1180px) {
  .imgDerecha {
    display: none;
  }
  .imgIzquierda{
    display: none;
  }
  .margin-left-700 {
    margin-left: 80px;
  }
}

@media screen and (max-width: 1080px) {
  .formulario{
    max-width: 90vw;
  }
  input {
    &[type="text"], &[type="email"], &[type="password"] {
      width: 90%;
      margin: 10px auto;
    }
  }
  select {
    width: 90% !important;
    margin: 10px auto;
  }
  .mensaje-banner {
    margin-left: 30px;
    font-size: 19px;
    h2 {
      font-size: 25px;
      line-height: 1;
      margin-top: 30px;
    }
  }
  .max-width-700 {
    width: 100%;
  }
  .margin-left-220, .margin-left-preguntas {
    margin-left: 20px;
  }
  .flex {
    &.content-col-rever, &.content-col {
      padding: 42px 0px;
    }
    &.content-col-rever.only-text p {
      width: 90%;
    }
  }
  .btn {
    font-size: 17px;
  }
  .orderResponsive-2 {
    order: 2;
  }
  h2.precio {
    margin-left: 0px;
  }
  .btnFooter {
    flex-flow: column;
  }
}

@media screen and (max-width: 680px) {
  .max-width-700 {
    max-width: 300px;
    margin-left: 1px;
  }
  .flex.tipoProyecto p {
    margin: 0px;
    font-size: 18px;
  }
  .subtitle {
    font-size: 22px;
    margin-bottom: 31px;
    line-height: 26px;
  }
  .flex.tipoProyecto {
    /*margin-bottom: 45px;*/
  }
  .parrafo {
    font-size: 17px;
    width: 90%;
  }
  .margin-left-700 {
    margin-left: 36px;
  }
  .numero {
    margin-right: 9px;
  }
  .btn {
    max-width: 81%;
  }
}

.background--gris {
  background-repeat: no-repeat;
  background-position: top right;
}

.background--gris2 {
  background-repeat: no-repeat;
  background-position: top left;
}
.message-cookies-show{
  bottom: 0px !important;
}
.message-cookies{
  position: fixed;
  width: 100%;
  padding: 1.5rem 4rem 0.5rem 4rem;
  min-height: 100px;
  bottom: -300px;
  left: 0px;
  background-color: #1a2042;
  transition: 1s;
  z-index: 9999;
  transition: 1s ease;
  -webkit-transition: 1s ease;
  @media screen and (max-width: 768px){
    padding: 1.5rem 1rem 0.5rem 1rem;
  }
  p{
    color: #fff;
    font-size: 1.2rem;
    font-family: 'juntas_sans', sans-serif !important;
    line-height: 1;
    text-align: justify;
    @media screen and (max-width: 1440px ){
      font-size: 1.1rem;
    }
    @media screen and (max-width: 768px){
      font-size: 1rem;
    }
  }
  input[type="submit"]{
    margin-top: 0px;//
  }
}