.cd-stretchy-nav {
  display: none;
}

html, body {
  overflow-x: hidden !important;
  background: #fff;
}
.align-end {
  align-self: flex-end;
}

.align-start {
  align-self: flex-start;
}

.flex {
  display: flex;
}

.fullCenter {
  justify-content: center;
  align-items: center;
}

.col1 {
  flex: 1;
}

.col2 {
  flex: 2;
}

.col2center {
  flex: 1 !important;
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none !important;
}

.gris {
  background: #fafafa;
}

.naranja {
  background: #fcbc1c !important;
}

.azul {
  background: #182337;
}

.azulDestacado {
  background: #141d2c;
}

.margin-left-80 {
  margin-left: 80px;
}

.padding-right-60 {
  padding-right: 60px;
}

.padding-left-90 {
  padding-left: 90px;
}

.height-86 {
  max-height: 86vh;
}

.height-100vh {
  max-height: 101vh;
  height: 101vh;
}

.height-preguntas {
  max-height: 40vh;
}

.height-100 {
  height: 100%;
}

/* Styles */

div.menuContenedor {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 75px;
  z-index: 999;
  background: #1a2042;
  justify-content: space-between;
  img {
    width: 137px;
    margin-left: 86px;
  }
}

ul.flex.menu {
  a {
    color: #fff;
    font-family: "juntas_sans";
    font-size: 20px;
    max-width: 135px;
    height: 44px;
    border-right: solid 2px rgba(66, 86, 175, 0.3);
    padding-right: 19px;
    margin-right: 19px;
    text-align: center;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 1440px) {
      font-size: 18px;//
    }
  }
  li {
    &.current-menu-item a {
      color: #ffbb22;
    }
    &:nth-last-child(1) a {
      margin-right: 0px;
      padding-right: 0px;
      border: none;
    }
  }
}
.flex.lang{
  margin-left: 3rem;
  margin-right: -2rem;
  @media (max-width: 480px){
    margin-left: 1.5rem;
  }
  #lang_sel{
    top: 5px;
    ul{
      li{
        width: 125px !important;
        a{
          padding-top: 5px;
          padding-bottom: 5px;//
          color: #ffbb22;
          font-size: 15px !important;
          &.lang_sel_sel{
            background-color: transparent !important;
            &:visited{
            }
          }

        }
      }
      ul{
        top: 35px;
        width: 125px !important;
      }
    }


  }
}
.flex {
  &.redesSociales {
    width: 116px;
    justify-content: space-between;
    margin-right: 86px;
    margin-left: 60px;
    i {
      color: #4459a8;
      font-size: 20px;
      border: solid 2px;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &.fullCenter.contentSectionBanner {
    /*background: url(../img/home.jpg) center;*/
    flex-flow: column;
    background-size: cover;
    height: 100vh;
    position: relative;
    @media (max-width: 991px){
      height: auto !important;
      min-height: 100vh;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
}

div.descripcion {
  align-self: flex-end;
  margin-right: 110px;
  margin-top: 50px;
  margin-bottom: -60px;
  color: #fff;
  width: 100%;
  max-width: 400px;
  font-size: 29px;
  text-align: right;
  border-right: dashed 3px;
  padding-right: 25px;
  h2, p {
    margin: 0px;
  }
}

a.flecha {
  position: absolute;
  width: 100%;
  z-index: 3;
  text-align: center;
  bottom: 45px;
  > i {
    font-size: 30px;
    color: #fff;
    border: solid 2px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 39px;
  }
}

div {
  &.content-col h2, &.content-col-rever h2 {
    font-family: 'juntas_sans', sans-serif;
    font-weight: 300;
    color: #29338a;
    font-size: 45px;
    line-height: 1;
    margin-bottom: 30px;

    @media screen and (max-height: 760px){
      font-size: 34px;
    }
  }
  &.content-col h2 b, &.content-col-rever h2 b {
    font-family: 'juntas_sans', sans-serif !important;
  }

  &.content-col h1 {
    width: 100%;
    max-width: 500px;
    font-size: 23px;
    border-left: dashed 3px #e4e2ed;
    padding-left: 40px;
    z-index: 999999;

    p{
      font-family: 'juntas_sans', sans-serif;
      font-weight: 300;
      color: #7b8e9f;

      b {
        font-family: 'juntas_sans', sans-serif !important;
        font-weight: 400;
      }
    }
  }

  &.content-col h1 {
    font-family: 'juntas_sans', sans-serif;
    font-weight: 300;
    color: #7b8e9f;

    width: 100%;
    max-width: 500px;
    font-size: 23px;
    border-left: dashed 3px #e4e2ed;
    padding-left: 40px;
    z-index: 999999;

    b {
      font-family: 'juntas_sans', sans-serif !important;
      font-weight: 400;
    }
  }


}

img.bordeSection {
  position: absolute;
  bottom: -100px;
  right: -440px;
  height: auto;
  z-index: 99999;
}

div.content-col div.col2.flex {
  flex-flow: column;
  justify-content: center;
  padding-top: 90px;
}

i.flechaArrow {
  font-size: 37px;
  color: #e4e2ed;
  margin-left: 50px;
  margin-top: 40px;
  border: solid 2px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 39px;
  text-align: center;
}

.flex.content-col-rever {
  align-items: center;
  @media screen and (max-height: 700px){
    padding-top: 100px;
  }
}

div.content-col-rever p {
  font-family: 'juntas_sans', sans-serif;
  font-weight: 300;
  width: 100%;
  max-width: 500px;
  font-size: 22px;
  color: #7b8e9f;
  b {
    font-family: 'juntas_sans', sans-serif !important;
    font-weight: 400;
  }
}

@media screen and (max-height: 800px) {
  div.content-col-rever p {
    font-size: 18px;
  }
}

@media screen and (max-width: 1600px) {
  div.content-col-rever p {
    font-size: 18px;
  }
}

@media screen and (max-height: 760px){
  div.content-col-rever p {
    font-size: 16px;
  }
}

a.centrado {
  position: absolute;
  bottom: 90px;
  width: 100%;
  text-align: center;
}

div {
  &.naranja p {
    color: #29338a;
    max-width: 660px;
  }
  &.destacado {
    position: relative;
    max-width: 570px;
    margin-left: 62px;
    margin-top: 70px;
    margin-bottom: 90px;
  }
  &.naranja .flex.content-col-rever {
    height: 100%;
    img {
      margin-bottom: -4px;
    }
  }
  &.bordeIcono {
    position: absolute;
    background: #29338a;
    border-radius: 50%;
    height: 95px;
    width: 95px;
    top: -31px;
    left: -63px;
    img {
      width: 54px;
    }
  }
  &.borderSombreado {
    background: #ffeabb;
    border-radius: 50px;
    border: solid 1px;
    color: #29338a;
    h3 {
      font-family: 'juntas_sans', sans-serif;
      font-weight: 300;
      font-size: 24px;
      margin-left: 46px;
      b {
        font-family: 'juntas_sans', sans-serif;
        font-weight: 400;
      }
      &:nth-child(1) {
        margin-bottom: 0px;
      }
      &:nth-child(2) {
        margin-top: 0px;
      }
    }
  }
}

.btn {
  font-family: 'juntas_sans', sans-serif !important;
  font-weight: 300 !important;
  background: #29338a;
  color: #fff !important;
  padding: 14px 38px;
  font-size: 25px;
  border-radius: 8px;
  margin: 0px auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  width: max-content;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.footer {
  padding: 50px 0;
}

.vectorial.azulDestacado {
  text-align: center;
  padding: 16px;
}

.flex.contentFooter {
  color: #7b889b;
  font-size: 21px;
  align-items: center;
  min-height: 320px;
  max-width: 1300px;
  margin: 0px auto;
  justify-content: space-between;
  a {
    color: #7b889b;
    text-decoration: none;
  }
}

div.flex {
  &.menuFooter > .col1 {
    border-right: solid 2px #252d5b;
    text-align: left;
    &:nth-child(3) {
      border-right: none;
    }
  }
  &.contentFooter h3 {
    margin-left: 37px;
    color: #4267ad;
  }
}

.flex.contentFooter > {
  .col1 {
    text-align: right;
  }
  .col2 li {
    margin-bottom: 13px;
  }
}

a.anclaFoot {
  position: absolute;
  bottom: 75px;
  right: 167px;
  width: 60px;
  i.flechaArrow {
    color: #4267ad;
    line-height: 33px;
  }
}

.fp-section {
  //min-height: 700px;
}

.fp-auto-height {
  min-height: auto;
}

.flex.contentFooter img {
  margin-right: 40px;
}

#convocatoria {
  font-size: 3rem !important;
  line-height: 1 !important;
  margin-bottom: 0px !important;

  @media screen and (max-width: 400px){
    font-size: 22px !important;
  }
}

/* Responsive */
@media screen and (max-width: 1230px) {
  .flex.fullCenter.contentSectionBanner img {
    width: 80%;
    max-width: 500px;
  }
  div {
    &.bordeIcono {
      img {
        width: 34px;
      }
      height: 60px;
      width: 60px;
      top: -19px;
      left: -20px;
    }
    &.content-col h1, &.content-col-rever p {
      font-size: 19px;
    }
    &.descripcion {
      margin-right: 10px;
      max-width: 270px;
      font-size: 20px;
      text-align: right;
      border-right: dashed 2px;
      margin-bottom: 0px;
      padding-right: 12px;
    }
    &.content-col h2, &.content-col-rever h2 {
      font-size: 27px;
      line-height: 28px;
    }
  }
  .height-86, .height-preguntas {
    max-width: 600px;
  }
}

@media screen and (max-width: 1170px) {
  ul.flex.menu {
    display: none;
  }
  .cd-stretchy-nav {
    display: block;
  }
  .margin-left-80 {
    margin-left: 20px;
  }
  .height-86, .height-preguntas {
    max-width: 300px;
    margin-bottom: 20px;
  }
  .flex.content-col {
    margin-top: 0px;
  }
}

@media screen and (max-width: 1030px) {
  .flex.menuFooter {
    flex-flow: column;
  }
}

@media screen and (max-width: 930px) {
  img.bordeSection {
    display: none;
  }
  .flex {
    &.content-col-rever, &.content-col {
      flex-flow: column;
      justify-content: center;
      align-items: center !important;
    }
  }
}

@media screen and (max-width: 530px) {
  div {
    &.content-col h1 {
      max-width: 255px;
      padding-left: 17px;
    }
    &.menuContenedor img {
      width: 112px;
      margin-left: 10px;
    }
    &.content-col-rever p {
      max-width: 260px;
    }
    &.content-col div.col2.flex a {
      text-align: center;
    }
  }
  .padding-left-90 {
    padding-left: 20px;
  }
  i.flechaArrow {
    font-size: 32px;
    margin-left: 0px;
    margin-bottom: 20px;
    width: 30px;
    height: 30px;
    line-height: 33px;
  }
  a.centrado {
    bottom: -18px;
  }
  div {
    &.borderSombreado h3 {
      font-size: 14px;
      margin-left: 29px;
    }
    &.bordeIcono {
      top: -28px;
      left: -26px;
    }
  }
  .btn {
    padding: 6px 34px;
    font-size: 19px;
    max-width: 130px;
    line-height: 18px;
  }
  .flex.contentFooter {
    flex-flow: column;
  }
  div.flex.contentFooter h3 {
    font-size: 20px;
  }
  .flex.redesSociales {
    padding-right: 18px;
  }
  div.destacado {
    max-width: 270px;
    margin-left: 0px;
  }
  .flex.contentFooter {
    > .col2 li {
      font-size: 19px;
    }
    img {
      margin-right: 0px;
      width: 80%;
      max-width: 200px;
    }
  }
  a.anclaFoot {
    bottom: 22px;
    right: -10px;
    i.flechaArrow {
      line-height: 27px;
    }
  }
  .padding-right-60 {
    padding-right: 0px;
  }
}

/*
Styles Vectorial*/
.flecha, .flechaArrow{
  @media screen and (max-width: 992px){
    display: none;
  }
}


ul.flex.menu {
  margin-bottom: 0;
  a{
    text-decoration: none;
  }
}

.section-naranja{
  width: 100%;
  max-width: 1300px;
  height: 100vh;
  padding-top: 75px;

  @media screen and (max-width: 1200px){
    height: auto;
    padding: 0;
  }

  h2{
    font-family: 'juntas_sans', sans-serif;
    font-weight: 300;
    color: #29338a;
    font-size: 45px;
    line-height: 47px;
    width: 100%;
    margin-top: 100px;

    b{
      font-family: 'juntas_sans', sans-serif;
      font-weight: 400;
    }

    @media screen and (max-width: 1200px){
      text-align: center;
      margin-top: 40px;
    }
  }

  p{
    font-family: 'juntas_sans', sans-serif;
    font-weight: 300;
    width: 100%;
    font-size: 24px;

    @media screen and (max-width: 1200px){
      max-width: 100% !important;
      text-align: center !important;
    }
  }

  .btn {
    &:hover{
      color: white;
    }

    @media screen and (max-width: 580px){
      padding: 20px;
      line-height: 1;
      max-width: 100%;
    }
  }

  .destacado {
    @media screen and (max-width: 1200px){
      max-width: 100%;
      text-align: center;
      margin: 40px 30px;
    }

    @media screen and (max-width: 370px){
      margin-top: 60px;
    }

    .borderSombreado {
      padding: 10px;

      @media screen and (max-width: 1200px){
        padding: 22px 0px 15px 10px;
        border-radius: 10px;
      }

      @media screen and (max-width: 370px){
        padding: 10px 10px 10px 10px;
      }

      h3{
        b{
          @media screen and (max-width: 500px){
            display: block;
          }
        }

        @media screen and (max-width: 1200px){
          margin-bottom: 0;
          text-align: center;
        }

        @media screen and (max-width: 500px){
          margin-bottom: 0;
          text-align: left;
        }

        @media (min-width: 370px) and (max-width: 480px){
          font-size: 17px;
        }

        @media screen and (max-width: 370px){
          margin-left: 10px;
          font-size: 16px;
        }

      }
    }

    .bordeIcono {
      @media screen and (max-width: 1200px){
        left: -22px !important;
      }

      @media screen and (max-width: 370px){
        height: 40px;
        width: 40px;

        left: -18px !important;
        top: -24px;

        img{
          width: 20px;
        }
      }
    }

  }

  #column--left,
  #column--right{
    height: 100vh;

    @media screen and (max-width: 1200px){
      height: auto;
    }
  }

  #column--left{
    @media screen and (max-width: 1200px){
     padding: 30px;
    }
  }

  #column--right{
    padding-top: 50px;

    @media screen and (max-width: 1200px){
      padding: 0;
    }

    img{
      height: 100vh;

      @media screen and (max-width: 1200px){
        width: 100%;
        height: auto;
      }
    }
  }

}


.section--full-width-right{
  width: 100%;
  max-width: 100%;
  height: 100vh;
  padding-top: 40px;

  @media screen and (max-width: 1200px){
    height: auto;
  }

  h2{
    font-family: 'juntas_sans', sans-serif;
    font-weight: 300;
    color: #29338a;
    font-size: 45px;
    line-height: 47px;

    b{
      font-family: 'juntas_sans', sans-serif;
      font-weight: 400;
    }
  }
  p{
    font-family: 'juntas_sans', sans-serif;
    font-weight: 300;
    width: 100%;
    font-size: 22px;
    color: #7b8e9f;

    b{
      font-family: 'juntas_sans', sans-serif !important;
      font-weight: 400;
    }
  }

  .row{
    height: 100vh;
  }

  #column--left,
  #column--right{

    @media screen and (max-width: 1200px){

    }
  }

  #column--left{
    .column--content{
      max-width: 600px;
      float: right;

      @media screen and (max-width: 1200px){
        float: none;
      }
    }
  }

  #column--right{
    padding-right: 0;

    @media screen and (max-width: 1200px){
      padding: 0;
    }

    img{
      width: 100%;

      @media screen and (max-width: 1200px){
        width: 100%;
        height: auto;
      }
    }
  }

}


.section--full-width-right-border{
  width: 100%;
  max-width: 100%;
  height: 100vh;
  padding-top: 40px;

  @media screen and (max-width: 1080px){
    height: auto;//
    min-height: 100vh;
  }

  h2{
    font-family: 'juntas_sans', sans-serif;
    font-weight: 300;
    color: #29338a;
    font-size: 45px;
    line-height: 47px;
    margin-bottom: 40px;

    b{
      font-family: 'juntas_sans', sans-serif;
      font-weight: 400;
    }
  }
  p{
    font-family: 'juntas_sans', sans-serif;
    font-weight: 300;
    width: 100%;
    font-size: 22px;
    border-left: dashed 3px #e4e2ed;
    color: #7b8e9f;
    padding-left: 30px;
    margin-top: 20px;

    b{
      font-family: 'juntas_sans', sans-serif !important;
      font-weight: 400;
    }
  }

  .row{
    height: 100vh;
    @media screen and (max-width: 1080px){
      height: auto;
      min-height: 100vh;
    }
  }

  #column--left,
  #column--right{

    @media screen and (max-width: 1200px){

    }
  }

  #column--left{
    .column--content{
      max-width: 600px;
      float: right;

      @media screen and (max-width: 1200px){
        float: none;
      }
    }
  }

  #column--right{
    padding-right: 0;

    @media screen and (max-width: 1200px){
      padding: 0;
    }

    img{
      width: 100%;

      @media screen and (max-width: 1200px){
        width: 100%;
        height: auto;
      }
    }
  }

}


.section--full-width-left{
  width: 100%;
  max-width: 100%;
  height: 100vh;
  padding-top: 40px;

  @media screen and (max-width: 1200px){
    height: auto;
  }

  h2{
    font-family: 'juntas_sans', sans-serif;
    font-weight: 300;
    color: #29338a;
    font-size: 45px;
    line-height: 1;
    margin-bottom: 30px;

    b{
      font-family: 'juntas_sans', sans-serif;
      font-weight: 400;
    }

    @media screen and (max-height: 760px){
      font-size: 40px;
      margin-bottom: 20px;
    }
  }
  p{
    font-family: 'juntas_sans', sans-serif;
    font-weight: 300;
    width: 100%;
    font-size: 22px;
    color: #7b8e9f;
    text-align: justify;

    b{
      font-family: 'juntas_sans', sans-serif !important;
      font-weight: 400;
    }

    @media screen and (max-height: 760px){
      font-size: 18px;
    }
  }

  .row{
    height: 100vh;

    @media screen and (max-width: 1200px){
      height: auto;
    }
  }

  #column--left,
  #column--right{

    @media screen and (max-width: 1200px){

    }
  }

  #column--left{
    padding-left: 0;

    @media screen and (max-width: 1200px){
      display: none;
    }

    @media screen and (max-width: 1200px){
      padding: 0;
    }

    img{
      width: 100%;

      @media screen and (max-width: 1200px){
        width: 100%;
        height: auto;
      }
    }
  }

  #column--right{

    .column--content{

      @media screen and (max-width: 1200px){
        float: none;
        padding-right: 0px;
      }

      .btn {
        display: inline-block;
        background: #29338a;
        color: #fff;
        padding: 14px 38px;
        font-size: 22px;
        border-radius: 60px;
        margin: 0px auto;
        margin-top: 30px;
        display: flex;
        text-decoration: none;

        @media screen and (max-height: 760px){
          font-size: 18px;
        }

        &:hover{
          color: white;
          outline: 0;
        }
      }
    }
  }

}

.button--morado{
  display: inline-block;
  font-family: 'juntas_sans', sans-serif !important;
  font-weight: 300 !important;
  background: #29338a;
  color: #fff !important;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 60px;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: 20px;
  line-height: 1;

  @media screen and (max-width: 400px){
    font-size: 15px;
  }
}

.button--amarillo{
  display: inline-block;
  font-family: 'juntas_sans', sans-serif !important;
  font-weight: 300 !important;
  background: #fcbc1c;
  color: #fff !important;
  padding: 13px 30px;
  font-size: 18px;
  border-radius: 60px;
  margin-top: 8px;
  margin-bottom: 0px;
  margin-right: 20px;
  line-height: 1;

  @media screen and (max-width: 400px){
    font-size: 17px;
    text-align: center;
    padding: 15px 15px;
  }
}

.button--morado-centrado{
  display: table;
  font-family: 'juntas_sans', sans-serif !important;
  font-weight: 300 !important;
  background: #29338a;
  color: #fff !important;
  padding: 15px 25px;
  font-size: 18px;
  border-radius: 60px;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: 20px;
  text-align: center;
  line-height: 1;

  @media screen and (max-width: 400px){
    font-size: 15px;
  }
}

.button--blanco{
  display: inline-block;
  font-family: 'juntas_sans', sans-serif !important;
  font-weight: 300 !important;
  background: #fff;
  border: solid 2px #29338a;
  color: #29338a !important;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 60px;
  margin-bottom: 20px;
  line-height: 1;

  @media screen and (max-width: 400px){
    font-size: 15px;
  }
}

footer{

  h3 {
    @media screen and (max-width: 1200px){
      margin-left: 20px !important;
    }
  }

  ul{
    @media screen and (max-width: 1023px){
      padding-left: 0 !important;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
    @media screen and (max-width: 1200px){
      margin-left: 0px !important;
      padding-left: 20px !important;
    }
    li{
      @media screen and (max-width: 1200px){
        margin-bottom: 0px !important;
      }
    }
  }

  @media screen and (max-width: 1200px){
    padding-top: 40px;
  }

  .footer--logo{
    display: block;
    text-align: center;
    img{
      margin-right: 0px;
      width: 80%;
      max-width: 200px;
      margin-bottom: 20px;
    }
  }

  .cnt_icons{
    display: flex;
    justify-content: center;
    gap: 15px;

    a{
      border-radius: 50%;
      background: rgba(255,255,255, .2);
      width: 35px;
      height: 35px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }

}

/*
VIDEOS*/
.contentVideos {
  width: 90%;
  margin: 100px auto;
  max-width: 1133px;
  padding: 0px;

  @media screen and (max-width: 1200px){
    margin: 20px auto;
  }

  .row{

    &#videos{
      h1 {
        font-family: 'juntas_sans', sans-serif;
        font-weight: 300;
        color: #29338a;
        font-size: 2.5rem;
        text-align: center;
        width: 100%;
        margin: 0px auto;
        line-height: 1;
        margin-bottom: 42px;

        b{
          font-family: 'juntas_sans', sans-serif;
          font-weight: 400;
        }
      }
    }

    .col-12{
      padding: 0;
      text-align: center;
      img {
        width: 100%;
        height: auto;
      }
      a {
        width: 100%;
        position: relative;
        display: inline-block;
        > h2 {
          font-family: 'juntas_sans', sans-serif;
          font-weight: 300;
          position: absolute;
          z-index: 999;
          bottom: 0px;
          width: 100%;
          text-align: center;
          color: #fff;
          font-size: 16px;
          left: 0px;
          padding: 0px 10px;

          b{
            font-family: 'juntas_sans', sans-serif;
            font-weight: 400;
          }
        }
      }
      .overlay {
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.65882);

        img{
          position: absolute;
          width: 70px;
          opacity: 0.4;
          top: 25%;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }

}
