#content-padding-width{
  .row{
    .background-header-internas{
      padding: 0;
      height: 340px;
      padding-left: 40px;
      padding-bottom: 20px;
      background-position-x: 50%;
      @media (max-width: 768px) {
        background-position-x: 35%;
      }
      @media (max-width: 480px) {
        background-position-x: 10%;
      }
      @media (max-width: 320px) {
        background-position-x: 10%;
      }
      margin-top: 74px;
      #title-internas{
        margin-top: 100px;
        margin-left: 20%;
        font-size: 4rem;
        font-weight: 100;
        line-height: 1;
        font-family: 'juntas_sans', sans-serif !important;
        @media (max-width: 768px) {
          margin-left: 10%;
        }
        @media (max-width: 320px) {
          margin-left: 5%;
        }
        span{
          font-weight: bolder;
        }
      }
    }
  }
  #content-internas {
    background: url(../images/preguntas--linea-gris-der.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 28vw;//
    .contenedor{
      width: 90%;
      margin: 20px auto;
      padding-bottom: 30px;
      @media (max-width: 768px) {
        width: 95%;
      }


      /* ESTILOS MENU TABS*/
      .tabs{
        margin-bottom: 2rem;
        li{
          text-align: center;
          width: 30%;
          a{
            width: 100%;
            margin: 0 auto;
            font-size: 1.5rem;
            text-transform: initial;//
            color: $color-titulos-tabs;
            &.active{
             color: $color-titulos-tabs-active;
            }
          }
        }
      }

      .color-verde-text{
        color: $color-verde-text;
      }
      /*FIN ESTILOS MENU TBS*/

      /*INICIO ESTILOS CARDS*/

      //titulo de la entrada
      .title-cat-card, .mas-vistos-title{
        font-size: 1.1em;
        color: #000000;
        line-height: 0.6;
        text-transform: initial;
      }

      .card-content{
        min-height: 170px;
        @media (max-width: 1366px) {
          min-height: 200px;
        }
        @media (max-width: 1280px) {
          min-height: 220px;
        }
        .categoria-card{
          color: #00a1ae;
          margin-bottom: 5px;
          .plus{
            position: absolute;
            bottom: 85%;
            right: 24px;
            @media (max-width: 1366px) {
              bottom: 90%;
              right: 24px;
            }
            @media (max-width: 480px) {
              bottom: 83%;
              right: 24px;
            }
            @media (max-width: 320px) {
              bottom: 90%;
              right: 24px;
            }
          }
        }
      }

      .card-action, .categoria-card{
        a{
          background-color: #898989;
        }
      }

      /* FIN ESTILOS CARDS */

      /*INICIO ESTILOS MAS VISTOS*/
      #mas-vistos{
        margin-top: 30px;
        .title-mas-vistos{
          position: relative;
          font-size: 1.6em;
          color: $color-titulo-interna;
          &:before{
            content: '';
            position: absolute;
            padding-bottom: 5px;
            bottom: 0;
            left: 2px;
            width: 20px;
            border-bottom: solid 3px $color-titulo-interna;
          }
        }
        ul{
          li{
            width: 100%;
            .col-mas-vistos{
              border-bottom: solid 1px #dedede ;
              padding: 10px 5px;
              .mas-vistos-img{
                img{
                  width: 100%;
                  padding: 0;
                }
              }
            }
            div{
              padding: 0 0 0 8px;
              .mas-vistos-cat{
                margin-bottom: 3px;
                font-size: 16px;
                font-weight: 500;
                text-transform: capitalize;
              }
            }
          }
        }
      }
      /*FIN ESTILOS MAS VISTOS*/
      .atras-btn{
        text-align: left;
        font-size: 1.5em;
        color: #253582;
        position:relative;
        left: 30px;
      }
      /* DETALLE NOTICIA*/

      .detalle-noticia{
        padding: 1em;
        .imagen-noticia{
          width: 48%;
          float: left;
          margin: 0px 15px 15px 0px;
          position: relative;
          @media (max-width: 768px){
           display: block;
          width: 100%;
          }
          .date-noticia{
            position: absolute;
            top: 15px;
            right: 15px;
            background: rgba(0,0,0,0.4);
            padding: 2px 10px;
            border-radius: 10px;
            color: white;
          }
          img{
            width: 100% ;
          }
        }
        .contenido-noticia{
          text-align: justify;
          .titulo_post{
            text-align: left;
            font-size: 1.5em;
            color: $color-titulo-interna;
            position: relative;
            &:before{

            }
          }
          .detalle-contenido-noticia{
            p{
              text-align: justify;
            }
          }
          img{
            text-align: center;
            margin: 0 auto;
          }
        }
      }

      /* FIN DETALLE NOTICIA*/


    }
  }
}


