/* INICIO CSS PARA SEARCH */
body {
  &.search-active {
    overflow: hidden;
    .search-content{
      z-index: 101;
      opacity: 1;
      background: rgba(0, 0, 0, 0.8);
      border-radius: 0px;
      .close-search{
        color: #ffbb22;
        position: absolute;
        top: 6rem;
        right: 6rem;
        font-size: 2.8rem;
        cursor: pointer;
      }
    }

    .control{
      .icon-search{
        i{
          color: #ffbb22;
        }
      }
    }

  }

  .search-content, .search-content-page{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: -3;
    transition: all 0.4s ease-in;

    #searchform{
      width: 100%;
      text-align: center;
      position: absolute;//
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transition: all 1s ease-in;

      input[type="search"] {
        height: 100px;
        font-size: 2.5rem;
        display: inline-block;
        font-weight: 300;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 4px solid #fff;
        outline: none;
        color: #fff;
        width: 400px;
        position: relative;
        top: 0;
        right: 20px;
        background: none;
        z-index: 4;
        transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
        cursor: pointer;
        @media (max-width: 991px){
          width: 350px;
          right: auto;
          margin-bottom: 1rem;
        }
        @media (max-width: 480px){
          width: 300px;
          font-size: 2rem;
          height: 80px;
        }
      }

      input[type="search"]:focus {
        border-bottom: 4px solid #fff;
        outline: none;
        box-shadow: none;
      }

      input[type="search"]:focus, input[type="search"]:hover {
        width: 700px;
        cursor: text;
        @media (max-width: 991px){
          width: 500px;
        }
        @media (max-width: 480px){
          width: 300px;
        }
      }
      button[type="submit"] {
        background-color: transparent;
        border: none;
        opacity: 0.7;
        cursor: pointer;
        transition: opacity .4s ease;
        i{
          font-size: 3rem;
          color: #fff;
        }
      }

      button[type="submit"]:hover {
        opacity: 1;
      }


    }
  }

  .search-content-page{
    z-index: 2;
    opacity: 1;
  }

  .control{
    cursor: pointer;
    .icon-search{
      i{
        font-size: 1.8rem;
        color: #fff;
      }
    }
  }



}

#content-internas{
  .contenedor-busquedas{
    padding-top: 2rem;
    p, .texto-busqueda{
      font-family: 'juntas_sans', sans-serif;
      font-weight: 300;
      font-size: 1.2rem;
      color: #7b8e9f;
    }
    .texto-busqueda{
      span{
        color: #29338a;
      }
    }
    .item-search{
      padding: 1.5rem 0;
      margin-bottom: 1rem;
      border-bottom: 1px solid #dcdcdc;
      h2{
        a{
          font-family: 'juntas_sans', sans-serif;
          font-weight: 400;
          color: #29338a;
          font-size: 25px;
          line-height: 1;
        }
      }
      &:nth-last-of-type(1){
        border-bottom: none;
      }
    }
  }

}

