/* --------------------------------
Primary style
-------------------------------- */
* {
  box-sizing: border-box;
  &::after, &::before {
    box-sizing: border-box;
  }
}

a {
  color: #fcbc1c;
  &:hover{
    color:#fcbc1c;
  }
}

/* --------------------------------
xcarbonads
-------------------------------- */

#carbonads-container, #ui8ads-container {
  bottom: 40px;
  display: none;
  position: fixed;
  right: 5%;
  width: 180px;
  z-index: 100;
}

#carbonads-container {
  .close-carbon-adv, .close-ui8-adv {
    background: rgba(0, 0, 0, 0.6);
    display: inline-block;
    height: 32px;
    overflow: hidden;
    position: absolute;
    right: 100%;
    text-indent: 100%;
    top: 0;
    width: 32px;
  }
}

#ui8ads-container {
  .close-carbon-adv, .close-ui8-adv {
    background: rgba(0, 0, 0, 0.6);
    display: inline-block;
    height: 32px;
    overflow: hidden;
    position: absolute;
    right: 100%;
    text-indent: 100%;
    top: 0;
    width: 32px;
  }
}

#carbonads-container {
  .close-carbon-adv:hover, .close-ui8-adv:hover {
    background: rgba(0, 0, 0, 0.8);
  }
}

#ui8ads-container {
  .close-carbon-adv:hover, .close-ui8-adv:hover {
    background: rgba(0, 0, 0, 0.8);
  }
}

#carbonads-container {
  .close-carbon-adv {
    &::after, &::before {
      background-color: #fff;
      content: '';
      height: 2px;
      left: 9px;
      position: absolute;
      top: 14px;
      width: 14px;
    }
  }
  .close-ui8-adv {
    &::after, &::before {
      background-color: #fff;
      content: '';
      height: 2px;
      left: 9px;
      position: absolute;
      top: 14px;
      width: 14px;
    }
  }
}

#ui8ads-container {
  .close-carbon-adv {
    &::after, &::before {
      background-color: #fff;
      content: '';
      height: 2px;
      left: 9px;
      position: absolute;
      top: 14px;
      width: 14px;
    }
  }
  .close-ui8-adv {
    &::after, &::before {
      background-color: #fff;
      content: '';
      height: 2px;
      left: 9px;
      position: absolute;
      top: 14px;
      width: 14px;
    }
  }
}

#carbonads-container {
  .close-carbon-adv::after, .close-ui8-adv::after {
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}

#ui8ads-container {
  .close-carbon-adv::after, .close-ui8-adv::after {
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}

#carbonads-container {
  .close-carbon-adv::before, .close-ui8-adv::before {
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
}

#ui8ads-container {
  .close-carbon-adv::before, .close-ui8-adv::before {
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
}

#carbonads-container {
  .carbonad, .ui8ad {
    background: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 0 3px 3px 3px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    height: auto;
    padding: 14px;
    text-align: center;
    width: 100%;
  }
}

#ui8ads-container {
  .carbonad, .ui8ad {
    background: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 0 3px 3px 3px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    height: auto;
    padding: 14px;
    text-align: center;
    width: 100%;
  }
}

#carbonads-container {
  .carbonad .carbon-img img, .ui8ad .carbon-img img {
    margin: 0 10px 10px;
    width: 130px;
  }
}

#ui8ads-container {
  .carbonad .carbon-img img, .ui8ad .carbon-img img {
    margin: 0 10px 10px;
    width: 130px;
  }
}

#carbonads-container {
  .carbonad {
    .carbon-text, .carbonad-tag, .carbon-poweredby {
      font-family: 'Helvetica Neue', Arial, sans-serif;
    }
  }
  .ui8ad {
    .carbon-text, .carbonad-tag, .carbon-poweredby {
      font-family: 'Helvetica Neue', Arial, sans-serif;
    }
  }
}

#ui8ads-container {
  .carbonad {
    .carbon-text, .carbonad-tag, .carbon-poweredby {
      font-family: 'Helvetica Neue', Arial, sans-serif;
    }
  }
  .ui8ad {
    .carbon-text, .carbonad-tag, .carbon-poweredby {
      font-family: 'Helvetica Neue', Arial, sans-serif;
    }
  }
}

#carbonads-container {
  .carbonad .carbon-wrap, .ui8ad .carbon-wrap {
    display: block;
    padding: 0;
    width: 100%;
  }
}

#ui8ads-container {
  .carbonad .carbon-wrap, .ui8ad .carbon-wrap {
    display: block;
    padding: 0;
    width: 100%;
  }
}

#carbonads-container {
  .carbonad .carbon-wrap a, .ui8ad .carbon-wrap a {
    color: #0a9581;
    font-size: 13px;
    font-weight: bold;
  }
}

#ui8ads-container {
  .carbonad .carbon-wrap a, .ui8ad .carbon-wrap a {
    color: #0a9581;
    font-size: 13px;
    font-weight: bold;
  }
}

.no-touch {
  #carbonads-container {
    .carbonad .carbon-wrap a:hover, .ui8ad .carbon-wrap a:hover {
      text-decoration: underline;
    }
  }
  #ui8ads-container {
    .carbonad .carbon-wrap a:hover, .ui8ad .carbon-wrap a:hover {
      text-decoration: underline;
    }
  }
}

#carbonads-container {
  .carbonad {
    .carbonad-tag, .carbon-poweredby {
      color: #003c5d;
      margin-top: 5px;
    }
  }
  .ui8ad {
    .carbonad-tag, .carbon-poweredby {
      color: #003c5d;
      margin-top: 5px;
    }
  }
}

#ui8ads-container {
  .carbonad {
    .carbonad-tag, .carbon-poweredby {
      color: #003c5d;
      margin-top: 5px;
    }
  }
  .ui8ad {
    .carbonad-tag, .carbon-poweredby {
      color: #003c5d;
      margin-top: 5px;
    }
  }
}

#carbonads-container {
  .carbonad {
    .carbonad-tag a, .carbon-poweredby a {
      color: #003c5d;
    }
  }
  .ui8ad {
    .carbonad-tag a, .carbon-poweredby a {
      color: #003c5d;
    }
  }
}

#ui8ads-container {
  .carbonad {
    .carbonad-tag a, .carbon-poweredby a {
      color: #003c5d;
    }
  }
  .ui8ad {
    .carbonad-tag a, .carbon-poweredby a {
      color: #003c5d;
    }
  }
}

#carbonads-container {
  .carbonad {
    .carbonad-tag a:hover, .carbon-poweredby a:hover {
      color: #9acd91;
    }
  }
  .ui8ad {
    .carbonad-tag a:hover, .carbon-poweredby a:hover {
      color: #9acd91;
    }
  }
}

#ui8ads-container {
  .carbonad {
    .carbonad-tag a:hover, .carbon-poweredby a:hover {
      color: #9acd91;
    }
  }
  .ui8ad {
    .carbonad-tag a:hover, .carbon-poweredby a:hover {
      color: #9acd91;
    }
  }
}

#carbonads-container {
  .carbonad .carbon-poweredby, .ui8ad .carbon-poweredby {
    display: inline-block;
    font-size: 11px;
    line-height: 15px;
  }
}

#ui8ads-container {
  .carbonad .carbon-poweredby, .ui8ad .carbon-poweredby {
    display: inline-block;
    font-size: 11px;
    line-height: 15px;
  }
}

@media only screen and (min-width: 1170px) {
  #carbonads-container, #ui8ads-container {
    display: block;
  }
}

/* --------------------------------
demo settings - do not copy in production
-------------------------------- */

.cd-demo-settings {
  background: #ffffff;
  border-radius: .25em;
  bottom: 40px;
  box-shadow: 0 4px 16px rgba(0, 27, 42, 0.2);
  font-size: 1.3rem;
  font-weight: bold;
  left: 5%;
  padding: 10px;
  position: fixed;
  z-index: 5;
  &.top {
    bottom: auto;
    top: 40px;
  }
  .cd-demo-btn {
    background: #0a9581;
    border-radius: .25em;
    color: #ffffff;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    text-align: center;
    width: 100px;
    &:hover {
      background: #003c5d;
    }
  }
  .cd-select {
    /* select element wrapper */
    display: inline-block;
    margin-left: 16px;
    position: relative;
    &::after {
      /* switcher arrow for select element */
      background: url("../img/cd-icon-select.svg") no-repeat center center;
      content: '';
      display: block;
      height: 16px;
      pointer-events: none;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      width: 16px;
      z-index: 1;
    }
  }
  label {
    color: #99b1be;
    margin-right: 4px;
    text-transform: uppercase;
  }
  select {
    background-color: transparent;
    border: 2px solid #0a9581;
    border-radius: 0;
    color: #0a9581;
    cursor: pointer;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    height: 36px;
    padding: 0 26px 0 10px;
    &.animation {
      width: 100px;
    }
    &.hijacking {
      display: none;
    }
    &:focus {
      border-color: #003c5d;
      outline: none;
    }
    &::-ms-expand {
      display: none;
    }
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
  }
}

@media only screen and (min-width: 1170px) {
  .cd-demo-settings {
    padding: 20px;
    left: 5%;
    &.top {
      bottom: 40px;
      top: auto;
    }
    .cd-demo-btn {
      width: 120px;
      height: 40px;
      line-height: 40px;
    }
    select {
      height: 40px;
      padding: 0 10px;
      &.animation {
        width: 120px;
      }
    }
  }
}

/* --------------------------------
Stretchy Nav style - common to:
 - basic navigation
 - add-content navigation
 - edit-content navigation
-------------------------------- */

.cd-stretchy-nav {
  position: fixed;
  right: 5px;
  top: 50px;
  z-index: 999999;
  height: 0;

  &.nav-is-visible{
    height: auto;
  }

  .stretchy-nav-bg {
    /* this is the stretching navigation background */
    background: #1a2042;
    border-radius: 30px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    height: 60px;
    position: absolute;
    right: 0;
    top: 0px;
    transition: height 0.2s, box-shadow 0.2s;
    -moz-transition: height 0.2s, box-shadow 0.2s;
    -webkit-transition: height 0.2s, box-shadow 0.2s;
    width: 60px;
    z-index: 1;
  }
  &.nav-is-visible .stretchy-nav-bg {
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
    height: 100%;
  }
}

.cd-nav-trigger {
  border-radius: 50%;
  color: transparent !important;
  height: 60px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  /* replace text with image */
  white-space: nowrap;
  width: 60px;
  z-index: 3;
  span {
    /* this is the hamburger icon */
    background-color: #ffffff;
    bottom: auto;
    height: 2px;
    left: 50%;
    position: absolute;
    /* middle line of the hamburger icon */
    right: auto;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    width: 16px;
    &::after, &::before {
      /* this is the hamburger icon */
      background-color: #ffffff;
      height: 2px;
      position: absolute;
      width: 16px;
    }
    &::after {
      /* top and bottom lines of the hamburger icon */
      content: '';
      left: 0;
      top: 0;
      transition: transform 0.2s;
      -moz-transition: -moz-transform 0.2s;
      -webkit-transition: -webkit-transform 0.2s;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    &::before {
      /* top and bottom lines of the hamburger icon */
      content: '';
      left: 0;
      top: 0;
      transform: translateY(-6px);
      -moz-transform: translateY(-6px);
      -ms-transform: translateY(-6px);
      -o-transform: translateY(-6px);
      -webkit-transform: translateY(-6px);
      transition: transform 0.2s;
      -moz-transition: -moz-transform 0.2s;
      -webkit-transition: -webkit-transform 0.2s;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    &::after {
      transform: translateY(6px);
      -moz-transform: translateY(6px);
      -ms-transform: translateY(6px);
      -o-transform: translateY(6px);
      -webkit-transform: translateY(6px);
    }
  }
}

.no-touch .cd-nav-trigger:hover ~ .stretchy-nav-bg {
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
}

.nav-is-visible .cd-nav-trigger span {
  background-color: transparent;
  &::before {
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  &::after {
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}

.cd-stretchy-nav {
  ul {
    position: relative;
    text-align: right;
    transition: visibility 0.3s;
    -moz-transition: visibility 0.3s;
    -webkit-transition: visibility 0.3s;
    visibility: hidden;
    z-index: 2;
    &:nth-of-type(1){
      padding-top: 60px;
    }
    a {
      background: rgba(26, 32, 66, 0.98);
      color: rgba(255, 255, 255, 0.7);
      display: block;
      font-size: 1.4rem;
      height: 50px;
      line-height: 50px;
      margin-bottom: 1px;
      padding: 0 calc(1em + 60px) 0 1em;
      position: relative;
      transition: color 0.2s;
      -moz-transition: color 0.2s;
      -webkit-transition: color 0.2s;
      text-decoration: none;
      &::after {
        /* navigation item icons */
        background: url(../images/cd-sprite-1.svg) no-repeat 0 0;
        content: '';
        height: 16px;
        opacity: .6;
        position: absolute;
        right: 22px;
        top: 50%;
        transform: translateY(-50%) scale(0);
        -moz-transform: translateY(-50%) scale(0);
        -ms-transform: translateY(-50%) scale(0);
        -o-transform: translateY(-50%) scale(0);
        -webkit-transform: translateY(-50%) scale(0);
        width: 16px;
      }
      &::before {
        /* line visible next to the active navigation item */
        background-color: #0a9581;
        content: '';
        height: 16px;
        position: absolute;
        right: 60px;
        top: 50%;
        transform: translateX(3px) translateY(-50%) scaleY(0);
        -moz-transform: translateX(3px) translateY(-50%) scaleY(0);
        -ms-transform: translateX(3px) translateY(-50%) scaleY(0);
        -o-transform: translateX(3px) translateY(-50%) scaleY(0);
        -webkit-transform: translateX(3px) translateY(-50%) scaleY(0);
        width: 3px;
      }
    }
    li {
      &:first-of-type a::after {
        /* change custom icon using image sprites */
        background-position: -32px 0;
      }
      &:nth-of-type(2) a::after {
        background-position: -64px 0;
      }
      &:nth-of-type(3) a::after {
        background-position: -48px 0;
      }
      &:nth-of-type(4) a::after {
        background-position: 0 0;
      }
      &:nth-of-type(5) a::after {
        background-position: -16px 0;
      }
    }
    li.current-menu-item{
      a {
        color: #ffbb22;
      }
    }
    span {
      /* navigation item labels */
      display: block;
      opacity: 0;
      transform: translateX(-25px);
      -moz-transform: translateX(-25px);
      -ms-transform: translateX(-25px);
      -o-transform: translateX(-25px);
      -webkit-transform: translateX(-25px);
    }
  }
  &.nav-is-visible ul {
    visibility: visible;
    a {
      &::after {
        /* navigation item icons */
        animation: scaleIn 0.15s backwards;
        -moz-animation: scaleIn 0.15s backwards;
        -webkit-animation: scaleIn 0.15s backwards;
        transform: translateY(-50%) scale(1);
        -moz-transform: translateY(-50%) scale(1);
        -ms-transform: translateY(-50%) scale(1);
        -o-transform: translateY(-50%) scale(1);
        -webkit-transform: translateY(-50%) scale(1);
        transition: opacity 0.2s;
        -moz-transition: opacity 0.2s;
        -webkit-transition: opacity 0.2s;
      }
      &.active {
        color: #ffffff;
        &::after {
          opacity: 1;
        }
        &::before {
          transform: translateX(3px) translateY(-50%) scaleY(1);
          -moz-transform: translateX(3px) translateY(-50%) scaleY(1);
          -ms-transform: translateX(3px) translateY(-50%) scaleY(1);
          -o-transform: translateX(3px) translateY(-50%) scaleY(1);
          -webkit-transform: translateX(3px) translateY(-50%) scaleY(1);
          transition: transform 0.15s 0.3s;
          -moz-transition: -moz-transform 0.15s 0.3s;
          -webkit-transition: -webkit-transform 0.15s 0.3s;
        }
      }
    }
    span {
      animation: slideIn 0.15s backwards;
      -moz-animation: slideIn 0.15s backwards;
      -webkit-animation: slideIn 0.15s backwards;
      opacity: 1;
      transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      -webkit-transform: translateX(0);
      transition: transform 0.2s;
      -moz-transition: -moz-transform 0.2s;
      -webkit-transition: -webkit-transform 0.2s;
    }
  }
}

.no-touch .cd-stretchy-nav.nav-is-visible ul a:hover {
  color: #ffffff;
  &::after {
    opacity: 1;
  }
  span {
    transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    -o-transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
  }
}

.cd-stretchy-nav {
  &.nav-is-visible ul li {
    &:first-of-type {
      a::after, span {
        animation-delay: 0.05s;
        -moz-animation-delay: 0.05s;
        -webkit-animation-delay: 0.05s;
      }
    }
    &:nth-of-type(2) {
      a::after, span {
        animation-delay: 0.1s;
        -moz-animation-delay: 0.1s;
        -webkit-animation-delay: 0.1s;
      }
    }
    &:nth-of-type(3) {
      a::after, span {
        animation-delay: 0.15s;
        -moz-animation-delay: 0.15s;
        -webkit-animation-delay: 0.15s;
      }
    }
    &:nth-of-type(4) {
      a::after, span {
        animation-delay: 0.2s;
        -moz-animation-delay: 0.2s;
        -webkit-animation-delay: 0.2s;
      }
    }
    &:nth-of-type(5) {
      a::after, span {
        animation-delay: 0.25s;
        -moz-animation-delay: 0.25s;
        -webkit-animation-delay: 0.25s;
      }
    }
  }
  &.add-content {
    bottom: 50px;
    left: 50%;
    right: auto;
    top: auto;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 300px;
    .stretchy-nav-bg {
      background-color: #8ac57f;
      left: 50%;
      right: auto;
      transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transition: width 0.2s, box-shadow 0.2s;
      -moz-transition: width 0.2s, box-shadow 0.2s;
      -webkit-transition: width 0.2s, box-shadow 0.2s;
    }
    &.nav-is-visible .stretchy-nav-bg {
      box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
      width: 100%;
    }
    .cd-nav-trigger {
      background-color: #9acd91;
      left: 50%;
      right: auto;
      transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      span {
        background-color: transparent;
        &::before {
          /* used to create the plus icon */
          transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          -webkit-transform: rotate(90deg);
        }
        &::after {
          /* used to create the plus icon */
          transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          -webkit-transform: rotate(0deg);
        }
      }
    }
    &.nav-is-visible .cd-nav-trigger {
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
      span {
        &::before {
          transform: rotate(-135deg);
          -moz-transform: rotate(-135deg);
          -ms-transform: rotate(-135deg);
          -o-transform: rotate(-135deg);
          -webkit-transform: rotate(-135deg);
        }
        &::after {
          transform: rotate(-225deg);
          -moz-transform: rotate(-225deg);
          -ms-transform: rotate(-225deg);
          -o-transform: rotate(-225deg);
          -webkit-transform: rotate(-225deg);
        }
      }
    }
    ul {
      padding-top: 0;
      &::after {
        clear: both;
        content: "";
        display: table;
      }
      li {
        display: inline-block;
        float: left;
        width: 60px;
        &:nth-of-type(2) {
          /* space occupied by the navigation trigger */
          margin-right: 60px;
        }
      }
      a {
        height: 60px;
        padding: 0;
        width: 100%;
        &::after {
          background-image: url(../img/cd-sprite-2.svg);
          left: 22px;
          right: auto;
          top: 50%;
          transform: translateY(-50%) scale(0);
          -moz-transform: translateY(-50%) scale(0);
          -ms-transform: translateY(-50%) scale(0);
          -o-transform: translateY(-50%) scale(0);
          -webkit-transform: translateY(-50%) scale(0);
        }
      }
      li {
        &:first-of-type a::after {
          background-position: -16px 0px;
        }
        &:nth-of-type(2) a::after {
          background-position: 0px 0px;
        }
        &:nth-of-type(3) a::after {
          background-position: -48px 0px;
        }
        &:nth-of-type(4) a::after {
          background-position: -32px 0px;
        }
        &:first-of-type a::after, &:nth-of-type(4) a::after {
          animation-delay: 0.2s;
          -moz-animation-delay: 0.2s;
          -webkit-animation-delay: 0.2s;
        }
        &:nth-of-type(2) a::after, &:nth-of-type(3) a::after {
          animation-delay: 0.1s;
          -moz-animation-delay: 0.1s;
          -webkit-animation-delay: 0.1s;
        }
      }
    }
    &.nav-is-visible ul a::after {
      animation-name: scaleIn;
      -moz-animation-name: scaleIn;
      -webkit-animation-name: scaleIn;
      transform: translateY(-50%) scale(1);
      -moz-transform: translateY(-50%) scale(1);
      -ms-transform: translateY(-50%) scale(1);
      -o-transform: translateY(-50%) scale(1);
      -webkit-transform: translateY(-50%) scale(1);
    }
    ul span {
      background-color: rgba(0, 0, 0, 0.8);
      border-radius: 2px;
      font-size: 1.2rem;
      left: 0;
      line-height: 1;
      opacity: 0;
      padding: 0.6em 0;
      position: absolute;
      text-align: center;
      top: -20px;
      transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      -webkit-transform: translateX(0);
      transition: opacity 0.2s, visibility 0.2s;
      /* reset default style */
      -moz-transition: opacity 0.2s, visibility 0.2s;
      -webkit-transition: opacity 0.2s, visibility 0.2s;
      visibility: hidden;
      white-space: nowrap;
      width: 100%;
      &::after {
        /* triangle below the tooltip */
        border: 4px solid transparent;
        border-top-color: rgba(0, 0, 0, 0.8);
        content: '';
        height: 0;
        left: 50%;
        position: absolute;
        right: auto;
        top: 100%;
        transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        width: 0;
      }
    }
    &.nav-is-visible ul span {
      /* reset default style */
      animation: none;
      -moz-animation: none;
      -webkit-animation: none;
    }
  }
}

/* --------------------------------
add-content navigation style
-------------------------------- */

.no-touch .cd-stretchy-nav.add-content.nav-is-visible ul a:hover span {
  opacity: 1;
  transform: translateX(0);
  /* reset default style */
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  -webkit-transform: translateX(0);
  visibility: visible;
}

/* --------------------------------
edit content
-------------------------------- */

.cd-editable-content {
  /* used to wrap the image and the navigation */
  margin: 4em auto;
  max-width: 400px;
  position: relative;
  width: 90%;
  img {
    border-radius: .25em;
    display: block;
  }
}

.cd-stretchy-nav.edit-content {
  position: absolute;
  right: 15px;
  top: 15px;
  .stretchy-nav-bg {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: none;
    height: 30px;
    transition: background 0.2s, height 0.2s;
    -moz-transition: background 0.2s, height 0.2s;
    -webkit-transition: background 0.2s, height 0.2s;
    width: 30px;
  }
  &.nav-is-visible .stretchy-nav-bg {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: none;
    /* reset default style */
    height: 100%;
  }
  .cd-nav-trigger {
    height: 30px;
    width: 30px;
    span {
      background-color: transparent;
      opacity: 0;
      width: 12px;
      &::before {
        transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
      /* used to create the 'X' icon when the navigation is open */
      &::after {
        transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
      &::before, &::after {
        /* used to create the 'X' icon when the navigation is open */
        width: 12px;
      }
    }
    &::after {
      /* edit icon */
      background: url(../img/cd-sprite-3.svg) no-repeat 0 0;
      bottom: auto;
      content: '';
      height: 16px;
      left: 50%;
      position: absolute;
      right: auto;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      width: 16px;
    }
    span, &::after {
      transition: opacity 0.2s;
      -moz-transition: opacity 0.2s;
      -webkit-transition: opacity 0.2s;
    }
  }
}

.no-touch .cd-stretchy-nav.edit-content .cd-nav-trigger:hover ~ .stretchy-nav-bg {
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: none;
}

.cd-stretchy-nav.edit-content {
  &.nav-is-visible .cd-nav-trigger {
    span {
      opacity: 1;
      &::before {
        transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
      &::after {
        transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
      }
    }
    &::after {
      /* hide edit icon */
      opacity: 0;
    }
  }
  ul {
    padding-top: 30px;
    a {
      height: 30px;
      line-height: 30px;
      padding: 0;
      width: 30px;
      &::after {
        background-image: url(../img/cd-sprite-3.svg);
        right: 7px;
      }
    }
    li {
      &:first-of-type a::after {
        background-position: -16px 0;
      }
      &:nth-of-type(2) a::after {
        background-position: -32px 0;
      }
      &:nth-of-type(3) a::after {
        background-position: -48px 0;
      }
      &:nth-of-type(4) a::after {
        background-position: -64px 0;
      }
    }
    span {
      background-color: rgba(0, 0, 0, 0.55);
      border-radius: 2px;
      height: 30px;
      line-height: 30px;
      opacity: 0;
      padding: 0 1em;
      position: absolute;
      right: 35px;
      text-align: center;
      top: 0;
      transition: opacity 0.2s, visibility 0.2s;
      -moz-transition: opacity 0.2s, visibility 0.2s;
      -webkit-transition: opacity 0.2s, visibility 0.2s;
      visibility: hidden;
      &::after {
        /* triangle below the tooltip */
        border: 4px solid transparent;
        border-left-color: rgba(0, 0, 0, 0.55);
        bottom: auto;
        content: '';
        height: 0;
        left: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        width: 0;
      }
    }
  }
  &.nav-is-visible ul span {
    /* reset default style */
    animation: none;
    -moz-animation: none;
    -webkit-animation: none;
  }
}

.no-touch .cd-stretchy-nav.edit-content.nav-is-visible ul a:hover span {
  opacity: 1;
  transform: translateX(0);
  /* reset default style */
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  -webkit-transform: translateX(0);
  visibility: visible;
}

/* --------------------------------
main content basic style
-------------------------------- */

.cd-main-content {
  background-color: #003c5d;
  display: table;
  min-height: 100vh;
  position: relative;
  width: 100%;
  z-index: 1;
  h1 {
    color: #ffffff;
    display: table-cell;
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  &.normal-flow {
    display: block;
    padding: 100px 0;
    h1 {
      display: block;
    }
  }
}

@media only screen and (min-width: 768px) {
  .cd-main-content h1 {
    font-size: 3.6rem;
  }
}

/* --------------------------------
keyframes
-------------------------------- */
@-webkit-keyframes scaleIn {
  from {
    -webkit-transform: translateY(-50%) scale(0);
  }

  to {
    -webkit-transform: translateY(-50%) scale(1);
  }
}

@-moz-keyframes scaleIn {
  from {
    -moz-transform: translateY(-50%) scale(0);
  }

  to {
    -moz-transform: translateY(-50%) scale(1);
  }
}

@keyframes scaleIn {
  from {
    -webkit-transform: translateY(-50%) scale(0);
    -moz-transform: translateY(-50%) scale(0);
    -ms-transform: translateY(-50%) scale(0);
    -o-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
  }

  to {
    -webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
  }
}

@-webkit-keyframes slideIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(-25px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes slideIn {
  from {
    opacity: 0;
    -moz-transform: translateX(-25px);
  }

  to {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(-25px);
    -moz-transform: translateX(-25px);
    -ms-transform: translateX(-25px);
    -o-transform: translateX(-25px);
    transform: translateX(-25px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

.date-blog {
  position:  absolute;
  top: 15px;
  right:  15px;
  background: rgba(0, 0, 0, 0.4);
  padding: 2px 10px;
  border-radius: 10px;
  color:  white;
  p{
    margin:0;
  }
}

.social-network-blog {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  ul{
    &:not(.browser-default) {
      padding-left: 0;
      list-style-type: none;
    }
    li{
      list-style-type: none;
      background:#FAFAFA;
      padding: 2px 7px;
      text-align: center;
      a{
        color: #828282;
        font-size: 16px;//
      }
    }
  }
}

.card-action{
  a{
    margin: 0;
    padding: 5px 30px;
  }
}