@font-face {
  font-family: 'focobold';
  src: url('/wp-content/themes/Bancow/assets/fonts/foco/foco-bold-webfont.woff2') format('woff2'),
  url('foco-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'foco_lightitalic';
  src: url('/wp-content/themes/Bancow/assets/fonts/foco/focolight-italic-webfont.woff2') format('woff2'),
  url('focolight-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}