@font-face {
  font-family: 'geomanistblack';
  src: url('/wp-content/themes/Bancow/assets/fonts/geomanist/geomanist-black_0-webfont.woff2') format('woff2'),
  url('/wp-content/themes/Bancow/assets/fonts/geomanist/geomanist-black_0-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'geomanistbold';
  src: url('/wp-content/themes/Bancow/assets/fonts/geomanist/geomanist-bold_0-webfont.woff2') format('woff2'),
  url('/wp-content/themes/Bancow/assets/fonts/geomanist/geomanist-bold_0-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'geomanistbook';
  src: url('/wp-content/themes/Bancow/assets/fonts/geomanist/geomanist-book-webfont.woff2') format('woff2'),
  url('/wp-content/themes/Bancow/assets/fonts/geomanist/geomanist-book-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'geomanistextralight';
  src: url('/wp-content/themes/Bancow/assets/fonts/geomanist/geomanist-extralight-webfont.woff2') format('woff2'),
  url('/wp-content/themes/Bancow/assets/fonts/geomanist/geomanist-extralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'geomanistlight';
  src: url('/wp-content/themes/Bancow/assets/fonts/geomanist/geomanist-light-webfont.woff2') format('woff2'),
  url('/wp-content/themes/Bancow/assets/fonts/geomanist/geomanist-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'geomanistmedium';
  src: url('/wp-content/themes/Bancow/assets/fonts/geomanist/geomanist-medium-webfont.woff2') format('woff2'),
  url('/wp-content/themes/Bancow/assets/fonts/geomanist/geomanist-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'geomanist_regularregular';
  src: url('/wp-content/themes/Bancow/assets/fonts/geomanist/geomanist-regular-webfont.woff2') format('woff2'),
  url('/wp-content/themes/Bancow/assets/fonts/geomanist/geomanist-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'geomanistthin';
  src: url('/wp-content/themes/Bancow/assets/fonts/geomanist/geomanist-thin-webfont.woff2') format('woff2'),
  url('/wp-content/themes/Bancow/assets/fonts/geomanist/geomanist-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'geomanistultra';
  src: url('/wp-content/themes/Bancow/assets/fonts/geomanist/geomanist-ultra-webfont.woff2') format('woff2'),
  url('/wp-content/themes/Bancow/assets/fonts/geomanist/geomanist-ultra-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}